/* Importing our primary font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins&display=swap');

/**************************/
/* Custom properties */
/**************************/
:root {
  /* fonts */
  --primary-font: 'poppins';
  /* colors */
  --off-white: #ffff;
  --btn-hover-clr: #162938;
  --border-color: rgba(255, 255, 255, .5);
  --box-shadow-clr: rgba(0, 0, 0, .5);
}

/**************************/
/* Base resets */
/**************************/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font), sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

/* Making unordered lists easier to work with */
ul {
  list-style: none;
}

/* a {
  text-decoration: none;
  color: inherit;
} */

/* Make images easier to work with */
img,
picture {
    display: block;
    max-width: 100%;
}

/* Make elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove animations for people who have turned them off */

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* header section */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1.25rem 6.25rem; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.logo {
  font-size: 2em;
  color: var(--off-white);
  user-select: none;
}

.navigation a {
  position: relative;
  font-size: 1.1em;
  color: var(--off-white);
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.375rem;
  width: 100%;
  height: 0.1875rem;
  background: var(--off-white);
  border-radius: 0.3125rem;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .btnLogin-popup {
  width: 8.25rem;
  height: 3.125rem;
  background: transparent;
  border: 0.125rem solid var(--off-white);
  outline: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font: inherit;
  color: var(--off-white);
  font-weight: 500;
  margin-left: 2.5rem;
  transition: .5s;
}

.navigation .btnLogin-popup:hover {
  background-color: var(--off-white);
  color: var(--btn-hover-clr);
}

/* Wrapper card styling */
.wrapper {
  position: relative;
  height: 27.5rem;
  width: 27.5rem;
  background-color: transparent;
  border: 0.125rem solid var(--border-color);
  border-radius: 1.25rem;
  backdrop-filter: blur(1.25rem);
  box-shadow: 0 0 1.875rem var(--box-shadow-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  transition: height .2s ease;
}

.wrapper.active {
  height: 32.5rem;
}

.wrapper .form-box {
  width: 100%;
  padding: 2.5rem;
}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

/* .wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-25rem);
} */

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(25rem);
}

.wrapper.active .form-box.register {
  transition: none;
  transform: translateX(-25rem);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 2.8125rem;
  width: 2.8125rem;
  background-color: var(--box-shadow-clr);
  font-size: 2em;
  color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 1.25rem;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: var(--btn-hover-clr);
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 3.125rem;
  border-bottom: 0.125rem solid var(--btn-hover-clr);
  margin-top: 1.875rem;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0.3125rem;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--btn-hover-clr);
  font-weight: 500;
  pointer-events: none;
  /* margin: 0.225rem 0; */
} 

.input-box input:focus~label,
.input-box input:valid~label {
  top: 0.3125rem;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--btn-hover-clr);
  font-weight: 600;
  padding: 0 2.1875rem 0 0.3125rem;
}

.input-box .icon {
  position: absolute;
  right: 0.2rem;
  font-size: 1.2em;
  color: var(--btn-hover-clr);
  line-height: 3.5625rem;
}

.remember-forgot {
  font-size: 0.9em;
  color: var(--btn-hover-clr);
  font-weight: 500;
  margin: 0.9375rem 0 0.9375rem ;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: var(--btn-hover-clr);
  margin-right: 0.1875rem;
}

.remember-forgot a {
  text-decoration: none;
  color: var(--btn-hover-clr);
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 2.8125rem;
  background-color: var(--btn-hover-clr);
  border: none;
  outline: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 1em;
  color: var(--off-white);
  font-weight: 500;
}

.login-register {
  font-size: .9em;
  color: var(--btn-hover-clr);
  text-align: center;
  font-weight: 500;
  margin: 1.5625rem 0 .625rem;
}

.login-register p a {
  text-decoration: none;
  color: var(--btn-hover-clr);
  font-weight: 600;
  margin-left: 0.325rem;
}

.login-register p a:hover {
  text-decoration: underline;
}